*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper {
    max-width: 320px;
    height: auto;
    margin: 0 auto;
    padding: 20px 0 20px 0;


}
.wrapper--background-image{
    background-image: url("../img/Rectangle 1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 540px;


}
.wrapper--grad{
 background-color: rgb(26, 25, 21);
}
.conteyner{
    width:87.5%;
    margin: 0 auto;
}
/*BEGIN HEADER*/


.menu {
    list-style: none;
    display:flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
    margin-bottom: 145px;
}
.logo a {
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
}

.logo{
position: absolute;
top:149px;
left:50%;
transform: translate(-50%,-50%);
font-family: "Montserrat", sans-serif;
font-weight: bold;
text-transform: uppercase;
line-height: 1.2;

}
.submit{
    margin: auto;
    width: 94px;
    height: 40px;
    background-color: transparent  ;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.2;
    border: none;
    border-radius: 20px;
    outline: none;
}

.submit:hover {
    border: 3px solid #fff;

}


.preview{
    display:flex;
    flex-wrap: wrap;

}

.title-preview{
font-size: 30px;
font-family: "Montserrat", sans-serif;
color: rgb(255, 255, 255);
font-weight: bold;
text-transform: uppercase;
line-height: 1.2;
text-align: center;
margin-bottom: 20px;
z-index: 1;
}
.subtitle-preview{
    display: block;
    font:300 18px/1.2 "Roboto", sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-bottom:20px;
    z-index: 1;

}

.submit-preview{
    display: block;
    margin: auto;
    width: 280px;
    height: 40px;
    background-color:  #ff4e50; 
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.2;
    border: none;
    border-radius: 20px;
    outline: none;
    z-index: 1;

}


/*END header*/

/*begin main*/

.title-partners{
 font-size: 22px;
 font-family: "Montserrat", sans-serif;
 color: rgb(51, 51, 51);
 font-weight: bold;
 line-height: 1.2;
 text-align: center;
 padding-top: 64.89px;
 margin-bottom: 30px;
}
.card-partner a {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom:30px;
    text-decoration: none;
}
.card-partner{
list-style: none;
}
.name-partner {
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    color: rgb(51, 51, 51);
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;

}
.text-partner{
    font:200 14px/1.2 "Roboto", sans-serif;
    text-align: center;
    color: rgb(51, 51, 51);

}
.partner-icons{
    position: relative;
}
.partner-icon{
    display:block;
    width:37px;
    height: 37px;
    border: 4px solid #fff;
    border-radius: 50%;
    position: absolute;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    right:0;
    bottom: 0;
}
.icon-tv{
    background-image: url("../img/Shape 128.svg");
    background-color: #ff4e50;
}

.icon-lab{
    background-image: url("../img/Shape 155.svg");
    background-color: #ffa507;
}
.icon-cup{
    background-image: url("../img/Shape 153.svg");
    background-color: #1cd7ad;
}
.icon-telegram{
    background-image: url("../img/Shape 170.svg");
    background-color: #4e73db;
}

.submit-partner{
    display: block;
    margin: auto;
    width: 280px;
    height: 40px;
    background-color:transparent; 
    color: #ff4e50;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.2;
    border: none;
    border-radius: 20px;
    outline: none; 
    border: 2px solid #ff4e50 ;
 /*end main*/
    
 /*tablet begin*/

}
@media (min-width: 768px)  {

    .wrapper {
        max-width: 768px;
    
    }
    .wrapper--background-image{
        background-image: url("../img/Vector Smart Object.jpg");
        position: relative;
        height: 700px;
    }

    
    .wrapper--background-image:before {
        content: "";
        opacity: 0.3;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: 0; 
        background-color: #000;
        
      }
    .menu {
        list-style: none;
        display:flex;
        flex-wrap: wrap;
        justify-content: flex-end;
    }
    
    .logo{
    left:45px;
    top:20px
    }

    .preview{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .title-preview {
        font-size: 52px;
        margin-bottom: 30px;
       
        }
    .subtitle-preview{
            font:300 24px/1.2 "Roboto", sans-serif;
            margin-bottom: 30px;
           
        }
        

    .card-partners {
        display: flex;
        margin-bottom:30px;
        text-decoration: none;
        flex-wrap: wrap;
        justify-content: center;
    }
  .card-partner {
   width: 236px;
   padding: 10px;
   
  }  
 

}
 /*tablet end*/

 /*begin desktop*/
 @media  (min-width: 1080px) {

 
 .wrapper {
    min-width: 1080px;
 }

 .wrapper--background-image{
    background-image: url("../img/Vector Smart Object1.jpg");

}
.conteyner{
    width: 65.27%;
}

.card-partners{
    display: flex;
    flex-wrap: nowrap;
}

.subtitle-preview{
align-content: center;
flex-basis: 100%;
}
 }
/*end desktop*/