* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.wrapper {
    width: 100%;
    max-width: 1110px;
    height: 100%;
    margin :0 auto;
    position: relative;
}
    
.clearfix::after {
     display: table;
     content: "";
     clear: both;
    }
    
    
    
  

.logo  {
    font-size: 30px;
    float: left;
    color: #555252;
    text-transform: uppercase;
    text-decoration: none;
    padding: 20px;


    
  }
  .logo::first-letter {
      color: #1abc9c;
      font-weight: 700; 
      
  }
.menu  {
    color: #212121;
    text-transform: uppercase;
    font-family: Myriad Pro;
    float: right;
    margin-left: 34px;
    margin-bottom: 20px;
    padding: 20px;
   
}

.menu a {
    text-decoration: none;
    color: #0f0101;
    margin: 0px 30px 30px 0px;
    text-transform: uppercase;
    font-family: Myriad Pro;
    text-align: center;
     
 }
.menu a:hover {
    color: #1abc9c;
}
.menu a:last-child{
    margin-right: 0px;
}
.article:nth-child(4n+4){
    margin-right: 0px;
}
.slider{
background:linear-gradient( rgba(0, 0, 0, 0.52), rgba(0, 0, 0, 0.52)),url("../img/slide4.jpg"); 
width: 1600px;
height: 600px;
background-repeat: no-repeat; 
background-position: center center;
margin: 0px auto 47px ;
}
.slider h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    text-transform: uppercase;
    font-family: Myriad Pro;
    color: #fff;
    
}

.select h2{
    text-align: center;
    font-size: 60px;
    text-transform: uppercase;
    font-family: Myriad Pro;
    color: #515151;
    margin-bottom: 40px;

}
.select h2::after{
    content: "";
   height: 4px;
   width: 200px;
   display: block;
   border-bottom: 4px solid;
  margin: auto;
  color: #1abc9c;
}
.card {
    float: left;
    margin: 0px 30px 40px 0px;
    width: 255px;
    background: #424242;

    
}


.product_name  {
    
    background-color:#323232;
    width: 200px; 
    float: left;
    color: #fff;
    text-align: justify;
    font-family: Myriad Pro;
    text-transform: uppercase;
    font-size: 18px;
    padding: 13px;
    height: 48px;
}
.price {
    width: 55px;
    background-color: #8c8c8c;
    float: left;
    font-size: 18px;
    padding: 13px;
    height: 48px;
}
.card:hover a  {
    background-color: #1abc9c;
}
.card:hover span {
    background-color: #1abc9c;
}
.card:last-child {
    margin-right: 0px;
}